{% extends 'common.html' %}
{% block menu %}
    {% include 'student/student_menu.html' %}
{% endblock %}
<title>Online Course Registration</title>
<html>
    <head>
        <title>Online Course Registration</title>
    </head>
    <body>
        {% block content %}
    <style>
        #welcome_student{
            font-size: 60px;
            font-family: "Arial Black";
            text-align: center;
            color: gold;
            border-radius: 10px;
            padding-top: 130px;
            padding-bottom: 130px;
            text-shadow: orangered 5px 5px 5px;
        }
    </style>
    <br><br><br><br>
    <div id="welcome_student">Welcome {{ data }}</div>
{% endblock %}
    </body>
</html>
