{% extends 'common.html' %}
{% block menu %}
    {% include 'admin/admin_menu.html' %}
{% endblock %}
{% block content %}
    <title>Admin Home</title>
    <style>
        #welcome_admin{
            font-size: 60px;
            font-family: "Arial Black";
            text-align: center;
            color: gold;
            border-radius: 10px;
            text-shadow: orangered 5px 5px 5px;
        }
    </style>
    <br><br><br><br>
    <div id="welcome_admin">Welcome Admin</div>

{% endblock %}
